absl-py
accelerate
datasets >= 1.8.0
evaluate
git+https://github.com/pszemraj/transformers.git@t5-gqa
hydra-core
nltk
notebook
pdbpp
protobuf==3.20.*
pynvml
pyyaml
rouge_score
sentencepiece != 0.1.92
torch>=2.0.1
wandb
